mixin gen-chart(percent, name, metrics)
  div(class='col-md')
    p #{name}: #{percent}%
    div(class='chart' data-percent=percent data-scale-color='#ffb400')
    br
    each metric in metrics
      span #{metric.name}: #{metric.percent}%
      br