div(class='modal fade' id='applicant'+applicant.applicantId tabindex='-1' role='dialog' aria-labelledby='applicant'+applicant.applicantId aria-hidden='true')
  div(class='modal-dialog modal-lg' role='document')
    div(class='modal-content')
      div(class='modal-header')
        h5(class='modal-title' ) #{applicant.applicant_name}
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      div(class='modal-body')
        div(class='row')
          each profile in applicant.profiles
            div(class='col-md')
              span #[b #{profile.name}: #{profile.percent}%]
              br
              each characteristic in profile.characteristics
                span(class='sub_title') #{characteristic.name}: #{characteristic.percent}%
                br
                each metric in characteristic.metrics
                  span(class='sub_sub_title') #{metric.name}: #{metric.percent}%
                  br
                br
        br
      div(class='modal-footer')
        button(type='button' class='btn btn-primary' data-dismiss='modal') Fechar